---
interface Props {
    title: string;
    team: string;
    duration: string;
    description: string;
    website: string;
}
const {
    title, team, duration, description, website
} = Astro.props;
---

<div class="work-extra-card-wrapper">
    <div class="extra-card flex flex-col">
        <div>
            <h4 class="title">{title}</h4>
            <p class="team">{team}</p>
            <p class="duration">{duration}</p>
            <p class="description">
                {description}
            </p>
        </div>
        <a class="visit flex" href={"https://" + website} target="_blank">
            Visit {website}
            <span><img src="/assets/icons/arrow-right.svg" style="margin-right: 5px;" height="15px"
                width="15px" /></span>
        </a>
    </div>
</div>

<style>
    .work-extra-card-wrapper {
        padding: 1rem;
        background-color: var(--primary-dark);
        border-radius: 10px;
        border: 2px solid var(--tertiary-dark);
    }

    .work-extra-card-wrapper:hover {
        border: 2px solid var(--primary-colour);
    }

    .extra-card {
        height: 100%;
        justify-content: space-between;
    }

    .title {
        font-size: 1.2rem;
    }

    .team {
        color: var(--primary-colour);
        font-weight: bold;
    }

    .duration {
        color: var(--secondary-dark);
    }

    .description {
        opacity: 0.9;
    }

    .visit {
        justify-content: space-between;
        margin-top: 15px;
        background-color: var(--tertiary-dark);
        padding: 0.75rem;
        border-radius: 10px;
    }

    .visit:hover {
        background-color: var(--secondary-dark);
    }
</style>